[submodule "magic-context"]
	path = magic-context
	url = git@github.com:igamenovoer/magic-context.git
[submodule "context/refcode/streamdiffusionv2"]
	path = context/refcode/streamdiffusionv2
	url = https://github.com/chenfengxu714/StreamDiffusionV2
